<div class="panel panel-default">
  <div class="panel-heading">
    MESSAGE LIST
  </div>

  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
        <span class="label label-warning"><%= message.age %></span>>>  <%= message.body %>
        <%= link_to "" , edit_message_path(message), class: "glyphicon glyphicon-pencil" %>
        <%= link_to "" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "glyphicon glyphicon-trash" %>
      <br>
    <% end %>
  </div>
</div>

<%= render 'form' %>
